
div span{

    height: 50px;
    width: 200px;
    margin-top: 100px;
   margin-left: 10px;
    padding: 4px 20px;
}
.ranking-image{
    border: 1px solid red;
    height: 200px;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
}
.download-font{
    color: red;
}
.ranking-title{
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.ranking-message{
    padding-left: 50px;
}
.border-left{
    border-left: solid 1px red;
    border-right: solid 1px red;
}
.row-margin{
    margin-top: 40px;
    padding-left: 50px;
}
li{
    list-style: none;
    margin-top: 20px;
    padding: 0px;

}
.music-update-time{

    padding: 0px;
    font-size: 14px;;
}
