#row1-col4{
    height: 300px;
    background-color: red;
    width: 300px;
}
#row1-col8{
    height: 600px;

    width: 800px;
    margin-top: 50px;
    margin-left: 50px;;
}
.margin-right{
    margin-left: 15px;
}