#one{
    z-index:1;
    width:1000px;
    height:400px;
    position:absolute;
    top:0;
    left:0;
}
#login{
    background-color: #00ACED;
    z-index:2;
    position: absolute;
    top:50px;
    left:380px;
    display: none;
}

#register{
    background-color: #00ACED;
    z-index:2;
    position: absolute;
    top: 5px;
    left:380px;
    display: none;
}