#one{
    z-index:1;
    width:1000px;
    height:400px;
    position:absolute;
    top:0;
    left:0;
}
#login{
    z-index:2;
    position: absolute;
    top:100px;
    left:380px;
    display: none;

}