
.setup {
    height: 50px;
    font-size: 20px;
}

select {
    float: left;
    width: 80px;
    height: 40px;
    margin: 20px;
   font-size: 15px;
}
option{
    text-align: center;
}
.birthday-float{
    float: left;
    margin-top: 20px;
}
.birthday-center{
    text-align: center;
    padding-left: 40px;
}
textarea{
    height: 150px;
}
select{
    display: inline;
    text-align: center;
}
.bg-color{

    background-color: #adadad;
    height: 530px;
}
#col-2{
    padding-left: 40px;
}
#user-head{
    float: left;
    height: 150px;
    width: 150px;
    border: solid red 1px;
}